body{
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(./pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
}

main{
    background-image: url(./illustration-hero.svg);
    background-repeat: no-repeat;
    background-size:contain;
    background-color: white;
    max-width: 450px;
    padding: 48px;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 5px rgb(83, 83, 250);
}

h1{ 
    font-weight: 900;
    text-align: center;
    color: #1F2E55;
    padding-top: 220px;
}
.offer{
    display: flex;
}
.offer-txt{
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    color: #717FA6;
}

.details{
    width: 354px;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 40px;
    background-color: #F7F9FF;
}

.svg-box:hover path{
    fill: rgb(106, 0, 245);
}
.svg-box:hover circle{
    fill:#b3b0d8;
}

.plan{
    padding-left: 20px;
    padding-right: 68.81px;
}

.anual{
    font-weight: 900;
    color: #1F2E55;
    width:117.19px;
}
.price{
    font-weight: 500;
    color: #717FA6;
}
.change{
    font-weight: 700;
    color: #382AE1;
}
a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    background-color: #382AE1;
    color: #FFFFFF;
    height: 50px;
    border-radius: 11px;
    text-decoration: none;
    box-shadow: 0px 40px 40px -20px #0D30BD;
    ;
}
 .cncl{
    display: flex;
    justify-content: center;
 }

.cancelation{
    text-align: center;
    font-weight: 900;
    color: #1F2E55;
}

.details:hover{
    background-color: #dee5f8;
}

.change:hover{
    cursor:pointer;
}

.cancelation:hover{
    cursor:pointer;
}